<%-include('component/header')%>
<%-include('component/sidebar')%>
<main class="col-md-9 col-lg-10 ms-sm-auto main-content">
    <%# let items = ['apple','banana','cherry'] %>
    <h1 class="card p-2"><%=title%></h1>
    <% if(MSG){ %>
    <h2 class=""><%=MSG%></h2>
    <% }else{ %>
        <h2>No Msg Avalible</h2>
    <%}%>
<ul class="list-group">
    <% items.forEach(item =>{%>
        <li class="list-group-item"> <%=item %></li>
    <%})%>
</ul>
<table class="table">
    <tr>
        <th>ID</th> 
        <th>name</th>
        <th>working</th>
    </tr>
    <%data.map((i)=>{_%>
        <tr>
            <td><%=i.id _%></td>
            <td><%=i.name%></td>
            <td><%=i.working%></td>
        </tr>        
    <%})_%>
</table>

</main>

<%-include('component/footer')%>